<!DOCTYPE html>
<html>
<head>
    <title>Médiathèque - Catalogue</title>
</head>
<body>
    <p><a href="/admin/">Accès Bibliothécaire</a></p>
    <h1>Bienvenue à la Médiathèque du Château</h1>
    <h2>Catalogue par Catégories</h2>

    <div class="category">
        <h3>Livres</h3>
        <ul>
            {% for m in medias %}
                {% if m.livre %} <li>
                        <strong>{{ m.name }}</strong> (Auteur : {{ m.livre.auteur }}) 
                        - {% if m.disponible %}<span class="available">Disponible</span>{% else %}<span class="borrowed">Emprunté</span>{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="category">
        <h3>DVDs</h3>
        <ul>
            {% for m in medias %}
                {% if m.dvd %}
                    <li>
                        <strong>{{ m.name }}</strong> (Réal : {{ m.dvd.realisateur }})
                        - {% if m.disponible %}<span class="available">Disponible</span>{% else %}<span class="borrowed">Emprunté</span>{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="category">
        <h3>CDs</h3>
        <ul>
            {% for m in medias %}
                {% if m.cd %}
                    <li>
                        <strong>{{ m.name }}</strong> (Artiste : {{ m.cd.artiste }})
                        - {% if m.disponible %}<span class="available">Disponible</span>{% else %}<span class="borrowed">Emprunté</span>{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="category">
        <h3>Jeux de plateau</h3>
        <h5>Consultation sur place uniquement</h5>
        <ul>
            {% for m in medias %}
                {% if m.jeudeplateau %} 
                    <li>
                        <strong>{{ m.name }}</strong> (Créateur : {{ m.jeudeplateau.createur }})
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    

</body>
</html>